<footer class="footer">
    <div class="footer-top">
        <div class="footer-icons">

            <img src="img/logo.png" alt="Logo" class="footer-logo" />
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>

        </div>
    </div>

    <div class="footer-contact">

        <p><i class="fas fa-envelope"></i> contacto@empresa.com.uy</p>
        <p><i class="fas fa-mobile-alt"></i> +598 90 123 456</p>
        <p><i class="fas fa-phone"></i> 422 01234</p>
        <p>Copyright © 2025. All rights reserved.</p>

    </div>
</footer>

