<footer class="footer">
    <div class="footer-top">
        <a class="logo" href="/"><i class="bi bi-bicycle"></i></a>
        <div class="footer-icons">
            <a href="https://github.com/SantiRolando/Taller-Eventos_PuntoNet"><i class="bi bi-github"></i></a>
            <a href="https://trello.com/b/sIGMBkEv/net"><i class="bi bi-trello"></i></a>
            <a href="https://mail.yahoo.com/"><i class="bi bi-envelope"></i></a>
        </div>
    </div>

    <div class="footer-contact">

        <p><i class="bi bi-envelope"></i> contacto@empresa.com.uy</p>
        <p><i class="bi bi-whatsapp"></i> +598 90 123 456</p>
        <p><i class="bi bi-telephone"></i> 422 01234</p>
        <p>Copyright © 2025. All rights reserved.</p>

    </div>
</footer>

