<nav class="navbar">

    <div class="navbar-logo">

        <img src="img/logo.png" alt="Logo" />

    </div>

    <ul class="navbar-links">

        <li><NavLink href="/">Inicio</NavLink></li>
        <li><NavLink href="/resultados">Resultados</NavLink></li>
        <li><NavLink href="/carreras">Carreras</NavLink></li>
        <li><NavLink href="/servicios">Servicios</NavLink></li>
        <li><NavLink href="/contacto">Contacto</NavLink></li>

    </ul>

    <div class="navbar-buttons">

        <button class="btn-login">Iniciar Sesión</button>
        <button class="btn-register">Registrarse</button>

    </div>
</nav>

