<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <i class="bi bi-bicycle"></i>
        </div>

        <ul class="navbar-links">
            <li><NavLink href="/">Inicio</NavLink></li>
            <li><NavLink href="/resultados">Resultados</NavLink></li>
            <li><NavLink href="/eventos">Eventos</NavLink></li>
            <li><NavLink href="/servicios">Servicios</NavLink></li>
            <li><NavLink href="/contacto">Contacto</NavLink></li>
        </ul>
    </div>

    <div class="navbar-buttons">

        <a href="/login">
            <button class="btn-login">Iniciar Sesión</button>
        </a>

    </div>

</nav>
