<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/css/site.css" />

<head>
    <title>@ViewBag.Title - Mi Sitio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <!-- TOPBAR -->
    @Html.Partial("_NavMenu")

    <div class="container">
        @RenderBody()
    </div>

    <!-- FOOTER -->
    @Html.Partial("_Footer")

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
