@using Eventos_PuntoNet.Components.Models
@inject IHttpContextAccessor HttpContextAccessor



<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <i class="bi bi-bicycle"></i>
        </div>

        <ul class="navbar-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/resultados">Resultados</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/contacto">Contacto</a></li>

           
        </ul>
    </div>


</nav>

<!-- Modal de confirmación -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirmar cierre de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Seguro que querés cerrar sesión?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
