
/* Reset de márgenes y paddings del navegador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Propiedades para mantener la estructura a pesar del contenido de la pagina */

html, body {
    height: 100%;
    margin: 0;
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa toda la pantalla */
}

.body-content {
    flex: 1; /* empuja el footer hacia abajo */
    background-color: #494949;
}

/* NavBar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    padding: 0.5rem 2rem;
}

.navbar-left {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    padding: 0.5rem 2rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
    align-content: baseline;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #900b09;
}

.navbar-buttons button {
    margin-left: 0.5rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
}

.btn-login {
    background-color: #ccc;
    color: black;
}

.btn-register {
    background-color: #e53935;
    color: white;
}

/* Footer */

.footer {
    background-color: #2c2c2c;
    color: #ccc;
    text-align: center;
    padding: 1rem 0;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    margin: 10px;
}

.footer-icons a{
    color: #ccc;
    font-size: 1.5rem;
    margin: 0 10px;
}

.footer-icons a:hover {
    color: #900b09;
}

.footer-contact {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 2rem;
}

.footer-contact i {
    color: #900b09;
    margin-right: 5px;
    font-size: 1.5rem;
}

.footer-contact p{
    margin-bottom: 0px;
    align-items: flex-end;
}

.logo {
    color: #900b09;
    font-size: 3rem;
}

/* Tabs */

.tabs{
    background-color: #444444;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2c2c2c;
}

.nav-tabs .nav-link {
    color: white;
    border:hidden;
}

.nav-tabs .nav-link.active {
    color: #900b09;
    font-weight: bold;
    background-color: #444444;
    border-bottom: 1px solid #900b09;
}

/* Cards e Imagenes */
.imagenes-eventos{
    padding: 20px;
}

.imagenes-eventos .card {
    border: 5px outset #900b09;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

.imagenes-eventos .card-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.imagenes-eventos .card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

.imagenes-eventos .card-img-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}

.imagenes-eventos .card-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.imagenes-eventos .card-text {
    font-size: 1rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.evento-card {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    text-align: left;
    display: block;
    width: 100%;
}

.evento-card img.card-img {
    border-radius: 12px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.evento-card .card-img-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 12px;
}

.evento-card .card-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.evento-card .card-text {
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.evento-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Card Evento Tickets*/

.compra-evento {
    background-color: #494949;
    margin: 50px;
}

.evento-card-ticket {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    text-align: left;
    display: block;
    width: 100%;
}

.evento-card-ticket img.card-img {
    border-radius: 12px;
    width: 50%;
    height: 500px;
    object-fit: cover;
}

.evento-card-ticket .card-img-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 12px;
}

.evento-card-ticket .card-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.evento-card-ticket .card-text {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.evento-card-ticket .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
}

/* Detalles Evento */

.evento-detalles {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: auto;
    padding-top: 1rem;
}

.evento-detalles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.evento-detalles i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #900b09;
    text-shadow: 1px 1px 3px black;
}

.evento-detalles small {
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

/* Tickets Venta*/

.seccion-tickets-evento .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    padding: 3rem;
    background-color: #353535
}

.seccion-tickets-evento h3 {
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    margin: 1rem;
}

.card-ticket {
    background: #2c2c2c;
    border: 2px inset;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    max-width: 400px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-ticket .card-body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2rem 1rem;
}

.card-ticket.anticipadas{
    background: #900b09;
    border-radius: 15px;
}

.card-ticket .card-title {
    font-size: 1.7rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.card-precio {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin: 1rem;
}

.btn-comprar {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 0.5rem 4rem;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-comprar:hover {
    transform: scale(1.05);
}

/* Propiedades Generales */

.card-text.texto-rojo {
    color: #900b09;
    font-size: 1.5rem;
}