
/* Reset de márgenes y paddings del navegador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    color: white;
    padding: 0.5rem 2rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

    .navbar-links a {
        color: white;
        text-decoration: none;
    }

.navbar-buttons button {
    margin-left: 0.5rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
}

.btn-login {
    background-color: #ccc;
    color: black;
}

.btn-register {
    background-color: #e53935;
    color: white;
}

/* Footer */

.footer {
    background-color: #202020;
    color: #ccc;
    text-align: center;
    padding: 1.5rem 0;
}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-icons a {
    color: #ccc;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.sidebar {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}



/*Gestion_De_Corredores*/

.Form-Container {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.card {
    border: 1px solid #888;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

.btn-dark:hover {
    background-color: #333;
}
