@page "/"

<link href="css/site.css" rel="stylesheet" />

<div class="hero-section">
    <img src="img/ciclistas.png" alt="Ciclistas" />
    <div class="hero-text">
        <h1>Clásica Carrera 10K de San Fernando</h1>
        <button class="btn-register">Registrarse</button>
    </div>
</div>

<section class="productos">
    <h2>Ármate con equipo de alta calidad</h2>
    <div class="productos-grid">

        <div class="producto">
        </div>

        <div class="producto">
        </div>

        <div class="producto">
        </div>

    </div>
</section>

<section class="patrocinadores">

    <h2>Patrocinadores</h2>
    <img src="img/nadadores.png" alt="Nadadores" />

</section>
